$header-background: url("../img/header_background_v1.jpg");
$font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$font-size-small: 15px;
$font-size-big: 24px;
$buttons-color: #17A8B0;
$post-header-color: #17A8B0;
$nav-and-top-header-color: white;
$body-background-color: white;
$article-background-color: #efefef;
$post-description-color: red;
$contact-and-about-color: black;
$input-label-color: #17A8B0;
$copyright-color: black;