#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#petsIcon {
    position: fixed;
    bottom: 20px;
    font-size: 80px;
}

.inputFieldWrapper {
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

input {
    height: 20px;
    width: 400px;
}

button {
    border: none;
    background-color: transparent;
}

.listItems {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.listItems:hover{
    background-color: aquamarine;
}

.checkbox {
    display: flex;
    align-items: center;
}

.warning {
    font-size: 16px;
    color: red
}